 .details-form{
    
    margin: auto;
	padding-bottom: 20px;
    max-height: 250px;
    
}

.items-cart{
    padding-left: 0px;
   
}





.flex-box{
    display: flex;
    align-items: top;
    justify-content: center;

}

#confirmPayment {
    margin-top: 50px;
}





.form-element div {
    display: flex;
  }
  
  .form-element div span {
    flex: 1;
  }
  
  .form-element div span:first-of-type {
    text-align: right;
    padding-right: 5px;
  }
  
  .form-element div span:last-of-type {
    padding-left: 5px;
    text-align:left
  }