 .details-form{
    
    margin: auto;
	padding-bottom: 20px;
    max-height: 250px;
    
}

.items-cart{
    padding-left: 0px;
   
}


.form-element label {
    width: 150px;
}


.flex-box{
    display: flex;
    align-items: top;
    justify-content: center;

}

#confirmPayment {
    margin-top: 50px;
}