
figcaption {
    text-align: center;
}





td,th,tr{
	text-align: center;
    margin: auto;
	width: auto; 
	height: auto;
	border-top: 1px solid #E1E8EE;
    border-bottom: 1px solid #E1E8EE;
}

table { 
margin: auto; 
min-width: 500px;
border-top: 1px solid #E1E8EE;
border-bottom: 1px solid #E1E8EE;
height: auto;
width: 40%; 
border-spacing: 0;
}

input[type=number]{
  width: 40px;
  height: 30px;
  text-align: center;
  font-size:18px;
  border: none;
  outline: none;
  }
  
