.container {
    padding: 20px;
    width: 80%;
	min-width: 900px;
    margin: auto;
}


.listrightColumn {
	margin-left: 15%;
    padding: 10px 20px 20px 50px;
    margin-bottom: 0px;
    color: #31160c;
    min-height: 500px;
    font-size: 120%;
	text-decoration: none;
    
}

.nextToListRightColumn {
  margin-left: 20%;
    padding: 10px 20px 20px 50px;
    margin-bottom: 0px;
    color: #31160c;
    min-height: 500px;
    font-size: 120%;
	text-decoration: none;
}

.profilerightColumn {
	margin-right: 20%;
	margin-left: 10%;
    padding: 20px 20px 20px 50px;
    color: #31160c;
    min-height: 500px;
    font-size: 120%;
	text-decoration: none;
    
}

.rightColumn {
	margin: auto;
	padding-top: 20px;
	padding-bottom: 50px;
	color: #31160c;
    min-height: 500px;
    font-size: 120%;
	text-decoration: none;
    
}


  .rightColumn button:hover {
    opacity: 0.7;
  }

  .rightColumn button:disabled {
      opacity : 0.4
  }

nav ul {
    list-style: none;
    text-decoration: none;
  }
  
  nav a {
    text-decoration: none;
  }
  
  nav {
    float: left;
	color:dimgray;
  }

  .product {
    box-shadow: 0 4px 7px rgba(206,206,206,0.25);
	vertical-align: top;
    display: inline-block;
    /* To horizontally center images and caption */
    text-align: center;
    /* The width of the container also implies margin around the images. */
    width: 300px;
	padding-top: 20px;
	padding-bottom: 15px;
  }
  
  .product:hover {
	box-shadow: 0 4px 7px rgba(206,206,206,0.7);
	vertical-align: top;
    display: inline-block;
    /* To horizontally center images and caption */
    text-align: center;
    /* The width of the container also implies margin around the images. */
    width: 300px;
	padding-top: 20px;
	padding-bottom: 15px;
  }

  .landing-page {
    vertical-align: top;
    display: inline-block;
    /* To horizontally center images and caption */
    text-align: center;
    /* The width of the container also implies margin around the images. */
    width: 400px;
  }

  .login-button {
    font-size: 24px;
    border: none;
    width: 150px;
    padding: 0.5em;
  }

  .product-details {
    margin-top: 60px;
  }

  .product-image {
      width: 230px;
      height: 230px;
	  padding-bottom: 10px;
  }

  .product-desc {
    display: block;
  }

  .product-price {
      display: block;
  }

  .product-qty-input {
    display : inline-block;
    width : 80px;
    text-align: center;
    vertical-align: top;
  }
  
*
{
    font-family: Arial, sans-serif;
	text-decoration: none;
}

/* Add a grey text color to links */
		a {
		  color: dimgray;
		}


    body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.sorting-header {
  display: flex;
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 83%;
  color: dimgray;
}


.selected-nav {
  font-weight: bold;
}

.top-header-container {
  color: grey;
  margin-top: 1%;
  display: flex;
  min-width:900px; 
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1%;
}

.bottom-header-container {
  border-style: none; 
  min-width:900px; 
  background-color: whitesmoke;
  
  
}

.search-bar {
  padding-left: 10px;
}

.search-button {
  padding: 16px 16px; 
  vertical-align: middle
}