.container {
    padding: 20px;
    width: 80%;
	min-width: 1000px;
    margin: auto;
}


.listrightColumn {
	margin-left: 15%;
    padding: 10px 20px 50px 30px;
    margin-bottom: 0px;
    color: #31160c;
    min-height: 500px;
    font-size: 120%;
	text-decoration: none;
    
}

.profilerightColumn {
	margin-right: 20%;
	margin-left: 10%;
    padding: 20px 20px 50px 30px;
    color: #31160c;
    min-height: 500px;
    font-size: 120%;
	text-decoration: none;
    
}

.rightColumn {
	margin: auto;
	padding-top: 20px;
	padding-bottom: 50px;
	color: #31160c;
    min-height: 500px;
    font-size: 120%;
	text-decoration: none;
    
}

nav ul {
    list-style: none;
    text-decoration: none;
  }
  
  nav a {
    text-decoration: none;
  }
  
  nav {
    float: left;
  }

  .product {
    box-shadow: 0 4px 7px rgba(206,206,206,0.25);
	vertical-align: top;
    display: inline-block;
    /* To horizontally center images and caption */
    text-align: center;
    /* The width of the container also implies margin around the images. */
    width: 300px;
	padding-top: 20px;
	padding-bottom: 15px;
  }
  
  .product:hover {
	box-shadow: 0 4px 7px rgba(206,206,206,0.7);
	vertical-align: top;
    display: inline-block;
    /* To horizontally center images and caption */
    text-align: center;
    /* The width of the container also implies margin around the images. */
    width: 300px;
	padding-top: 20px;
	padding-bottom: 15px;
  }
  
  .product:hover {
	box-shadow: 0 4px 7px rgba(206,206,206,0.15);
	vertical-align: top;
    display: inline-block;
    /* To horizontally center images and caption */
    text-align: center;
    /* The width of the container also implies margin around the images. */
    width: 300px;
	padding-top: 20px;
	padding-bottom: 10px;
  }

  .landing-page {
    vertical-align: top;
    display: inline-block;
    /* To horizontally center images and caption */
    text-align: center;
    /* The width of the container also implies margin around the images. */
    width: 400px;
  }

  .login-button {
    font-size: 24px;
    border: none;
    width: 150px;
    padding: 0.5em;
  }

  .product-details {
    margin-top: 60px;
  }

  .product-image {
      width: 230px;
      height: 230px;
	  padding-bottom: 10px;
  }

  .product-desc {
    display: block;
  }

  .product-price {
      display: block;
  }

  .product-qty-input {
    display : inline-block;
    width : 80px;
    text-align: center;
    vertical-align: top;
  }
  
*
{
    font-family: Arial, sans-serif;
	text-decoration: none;
}

/* Add a grey text color to links */
		a {
		  color: dimgray;
		}

