.container {
  padding: 20px;
  
  width: 80%;
  min-width: 1000px;
  margin: auto;
}

.order-container {
  
  box-shadow: 0 4px 2px -2px gray;
  
  
  padding: 40px;
  
  width: 80%;
}

.minusButton {
  width: 20%;
}

.plusButton {
  width: 20%;
  text-align: center;
}

.stock-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  list-style: none;
  text-decoration: none;
  list-style-position: inside; padding-left: 0;
}

nav a {
  text-decoration: none;
}

.li-category:hover {
  background-color:  lightgray;

}

.li-category.selected-nav {
  background-color: lightgray;

}

nav li {
  margin: 10px;
  padding: 5px;
}

nav {
  float: left;
  background-color: whitesmoke;
}

.listrightColumn {
  margin-left: 15%;
  padding: 10px 20px 50px 30px;
  margin-bottom: 0px;
  color: #31160c;
  min-height: 500px;
  font-size: 120%;
  text-decoration: none;
}

td {
  min-width: 200px;
  text-align: center;
}

figcaption {
  text-align: center;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.minusButton {
  vertical-align: top;
  border: none;
  outline: 0;
  color: white;
  background-color: #000;
  cursor: pointer;
  width: 30px;
  height: 4vh;
  font-size: 18px;
  vertical-align: middle;
}

.plusButton {
  border: none;
  outline: 0;
  color: white;
  background-color: #000;
  cursor: pointer;
  width: 30px;
  height: 4vh;
  font-size: 18px;
  vertical-align: middle;
}

.stock-input {
  width: 40%;
  text-align: center;
  height: 4vh;
  vertical-align: middle;
}

.price-input {
  width: 40%;
  text-align: center;
  height: 4vh;
  vertical-align: middle;
}


td,
th,
tr {
  text-align: center;
  margin: auto;
  width: auto;
  height: auto;
  border-top: 1px solid #e1e8ee;
  border-bottom: 1px solid #e1e8ee;
}

table {
  margin: auto;
  min-width: 500px;
  border-top: 1px solid #e1e8ee;
  border-bottom: 1px solid #e1e8ee;
  height: auto;
  width: 40%;
  border-spacing: 0;
}


input[type=number]{
	text-align: center;
	} 
	
	/* Chrome, Safari, Edge, Opera */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
	  -webkit-appearance: none;
	  margin: 0;
	}

	/* Firefox */
	input[type=number] {
	  -moz-appearance: textfield;
	}